@using SearchEngine.Code.Models
@model Film
@{
    Layout = null;
}
<html>
<head>
    <meta />
</head>
<body>
    <header>@Model.Name</header>
    <div>
        <img src="@Model.Image"/>
       @foreach (var item in Model.Categories)
        {
            <p>@item.Category.Name</p>
        }
        <p>@Model.Year</p>
        <p>@Model.Rating</p>
        @foreach (var review in ViewBag.reviews)
        {
            var _review = (Review)review;
            <p>@_review.Content</p>
        }
        @foreach (var actor in ViewBag.actors)
        {
            var _actor = (Actor)actor;
            <p>@_actor.Name</p>
            <p>@_actor.BornYear</p>
        }
    </div>
    <script>

    </script>
</body>
</html>